.input-container{
    display: flex;
    justify-content: center;
}

.records-amount-input{
    width: 25vw !important;
    height: 50vh !important;
    flex-direction: column;
}

.modal-dialog-container{
    height:75vh;
    width:40vw !important;
    max-width: 40vw !important;
}

.drag-and-drop-title{
    position: relative;
}

.drag-and-drop-image{
    position: relative;
}

.drag-and-drop-container{
    position: relative;
    flex-direction: column;
}

.file-icon{
    font-size: 3rem !important;
}
/* .upload-input[type='file']{
    color: transparent;
} */

#modal-content{
    height: 75vh;
}

.upload-input-container{
    position: relative;
    flex-direction: column;
}

.upload-from-browse-container{
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    flex-direction: column;
}

.submit-upload-csv-btn-container{
    position: relative;
    flex-direction: column;
}

#download-csv-btn{
    visibility: hidden;
    display: none;
    /* pointer-events: none; */
}

#resetBtn{
    visibility: hidden;
    display: none;
}

#dbSuccess{
    visibility: hidden;
    display: none;
}